
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 120%;
  background: #F8F8FF;
}

.button-area-login, .col-md-6{
	background-color: white;
}
.button-area-login{
margin-top: 2px;

}
.form-group{
	margin-top: 20px;
	margin-bottom: 20px;
}

.error {
  width: 50%; 
  margin: 20px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
   width: 50%; 
  margin: 20px auto; 
  padding: 10px;  

  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
   border-radius: 5px; 
  text-align: left;
}
.login-header{
  
  width: 100%;
  margin: 50px auto 0px;
  color: white;
  background: #5F9EA0;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
form {
  width: 50%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 10px 10px;
}